<a href="https://colab.research.google.com/github/alexguecha/Python/blob/main/Copia_de_taller_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Col_uso=['Fecha','Total','Estado']
df_GS=pd.read_csv('/content/drive/MyDrive/Grandes_Superficies.csv',sep=',',usecols=Col_uso)
df_GS

                        Fecha   Estado       Total
0      08/18/2016 12:00:00 AM  Emitida  11927277.0
1      08/19/2016 12:00:00 AM  Emitida    490000.0
2      11/02/2021 12:00:00 AM  Emitida   1068700.0
3      12/18/2014 12:00:00 AM  Emitida  16038603.0
4      08/19/2016 12:00:00 AM  Emitida   9644416.0
...                       ...      ...         ...
20856  08/12/2016 12:00:00 AM  Emitida   3419404.0
20857  08/16/2016 12:00:00 AM  Emitida   4325090.0
20858  08/16/2016 12:00:00 AM  Emitida    386900.0
20859  08/16/2016 12:00:00 AM  Emitida   1065800.0
20860  08/16/2016 12:00:00 AM  Emitida   2276798.0

[20861 rows x 3 columns]

In [ ]:
#3M

In [ ]:
df_GS.describe()

              Total
count  2.086100e+04
mean   1.490118e+07
std    2.854924e+07
min    0.000000e+00
25%    2.118915e+06
50%    5.921443e+06
75%    1.775373e+07
max    2.008500e+09

In [ ]:
df_INF=pd.read_csv('/content/drive/MyDrive/inflacion.csv',sep=';')
df_INF

     Trimestre  Pom Inf Trim
0   31/10/2021          5.15
1   31/07/2021          4.31
2   30/04/2021          2.96
3   31/01/2021          1.56
4   31/10/2020          1.62
5   31/07/2020          1.94
6   30/04/2020          2.85
7   31/01/2020          3.73
8   31/10/2019          3.83
9   31/07/2019          3.79
10  30/04/2019          3.33
11  31/01/2019          3.12
12  31/10/2018          3.26
13  31/07/2018          3.15
14  30/04/2018          3.16
15  31/01/2018          3.40
16  31/10/2017          4.09
17  31/07/2017          3.75
18  30/04/2017          4.34
19  31/01/2017          5.11
20  31/10/2016          6.06
21  31/07/2016          8.11
22  30/04/2016          8.24
23  31/01/2016          7.67
24  31/10/2015          6.35
25  31/07/2015          4.85
26  30/04/2015          4.49
27  31/01/2015          4.25
28  31/10/2014          3.53

In [ ]:
df_INF.describe()

       Pom Inf Trim
count     29.000000
mean       4.206897
std        1.720847
min        1.560000
25%        3.160000
50%        3.790000
75%        4.850000
max        8.240000

**GSUP**

Asignar fecha como indice
verificar si los dataset tienen valores nulos
trimestral

**PIB**

Asignar fecha como indice
Diccionario  con la codificacion  sector para PIB
que categorias tiene PIB
Teniedndo en ceunta catgorias presentamos datos
verificar si los dataset tienen valores nulos
trimestral

**Inflacion**

Asignar fecha como indice
verificar si los dataset tienen valores nulos
trimestral

In [ ]:
df_PIB=pd.read_csv('/content/drive/MyDrive/pib.csv',sep=';')
df_PIB

                                                Sector       Fecha    Valor
0    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/10/2014   10.821
1    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/01/2015   11.487
2    Agricultura, ganaderÃ­a, caza, silvicultura y p...  30/04/2015   11.504
3    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/07/2015   12.236
4    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/10/2015   12.896
..                                                 ...         ...      ...
359                             Producto interno bruto  31/07/2020  246.729
360                             Producto interno bruto  31/10/2020  267.459
361                             Producto interno bruto  31/01/2021  278.254
362                             Producto interno bruto  30/04/2021  281.225
363                             Producto interno bruto  31/07/2021  305.156

[364 rows x 3 columns]

In [ ]:
df_PIB.describe

<bound method NDFrame.describe of                                                 Sector       Fecha    Valor
0    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/10/2014   10.821
1    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/01/2015   11.487
2    Agricultura, ganaderÃ­a, caza, silvicultura y p...  30/04/2015   11.504
3    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/07/2015   12.236
4    Agricultura, ganaderÃ­a, caza, silvicultura y p...  31/10/2015   12.896
..                                                 ...         ...      ...
359                             Producto interno bruto  31/07/2020  246.729
360                             Producto interno bruto  31/10/2020  267.459
361                             Producto interno bruto  31/01/2021  278.254
362                             Producto interno bruto  30/04/2021  281.225
363                             Producto interno bruto  31/07/2021  305.156

[364 rows x 3 columns]>